header {
    background-color: red;
    padding: 30px;
    text-align: center;
    font-size: 15px;
    color: white;
}

.jadwal {
    -webkit-flex: 3;
    -ms-flex: 3;
    flex: 13;
    padding: 10px;
    text-align: center;
}

.lokasi {
    -webkit-flex: 3;
    -ms-flex: 3;
    flex: 13;
    padding: 10px;
    text-align: center;
}

footer {
    text-align: center;
    padding: 3px;
    background-color: red;
    color: white;
  }

.avatar {
    vertical-align: middle;
    width: 75px;
    height: 75px;
    border-radius: 50%;
  }

.dev {
    background-color: white;
}

.teams {
    color: black;
}
.column {
    float: left;
    width: 15%;
    margin-bottom: 8px;
    padding: 0 8px;
  }
  
  @media screen and (max-width: 650px) {
    .column {
      width: 30%;
      display: block;
    }
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  
  .container {
    padding: 0 10px;
  }
  
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title {
    color: grey;
  }
  
  .contact {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 4px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 14%;
  }
  
  .contact:hover {
    background-color: #555;
    color: white;
  }
